/* variables.scss */

/* Variables */
$main-bg-color: #212426;
$dark-bg: #212426;
$bright-blue: #1889d5;
$softer-blue: #6299c3;
$dark-blue: #0f6ab5;
$bright-green: #81ef78;
$dark-green: #1e7e34;
$cream: #f5e2d8;
$primary-text-color: #ffffff;

$hawk-tuah-blue: #6199C3;
$comp-purple: #BC61C3;
$comp-orange: #C38B61;
$comp-green: #68C361;

$primary-btn-color: #6299c3;
$secondary-btn-color: #4a7491;
$button-radius: 8px;
$transition-speed: 0.3s;
$hover-color: #6299c3;

$border-color: #2d2f33;
$text-light: #f5f5f5;
$text-dark: #212426;
$danger-red: #ff4d4d;
$transition: 0.3s;
$primary-color: #6299c3;