$main-bg-color: #212426;
$bright-blue: #1889d5;
$softer-blue: #6299c3;
$dark-blue: #0f6ab5;
$bright-green: #81ef78;
$dark-green: #1e7e34;
$cream: #f5e2d8;


$hawk-tuah-blue: #6199C3;
$comp-purple: #BC61C3;
$comp-orange: #C38B61;
$comp-green: #68C361