.book-movie {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  /* Full viewport height */
  width: 100%;
  /* Full viewport width */
  overflow: hidden;
  align-items: center;

  li {
    .showtime-button {
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      /* Smooth transition for background color */
    }

    .showtime-button.focus {
      background-color: rgb(255, 0, 0);
    }
  }

  .movie-detail {
    color: white;
    display: flex;
    flex: 1;
    padding: 20px;
    align-items: center;

    .movie-poster {
      width: 300px;
      height: 450px;
      object-fit: cover;
      /* Ensures the poster image covers the entire area without distortion */
    }

    .movie-text {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin-left: 50px;
      margin-right: 50px;
      justify-content: space-between;
      text-align: center;
      height: 400px;

    }
  }

  .showtimes {

    h5 {
      font-size: small;
      color: darkgrey;
    }

    color: white;
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  .seating-container {
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}