.order-tickets {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column
}


.calc-button {
  width: fit-content;
  margin: 10px;
}

.order-button {
  margin: 10px;
  width: auto
}