@import '../../styles/variables.scss';

/* NavBar Styles */
.navbar {
  width: 100%;
  padding: 20px 40px; /* Increased horizontal padding for better spacing */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212426; /* Matching the .app background color */
  color: #ffffff; /* White text color */
  position: fixed; /* Fixed position to stay at the top */
  z-index: 1000; /* Ensure NavBar stays above other elements */
  top: 0;
  right: 0;
  border-bottom: 2px solid $cream;
  box-sizing: border-box;

  /* Logo Styling */
  .logo {
    .links {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #6299c3;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: color 0.3s ease;
      color: #f0f0f0;

      &:hover {
        color: #ffffff; /* Maintain white color on hover */
      }
    }
  }

  /* Navigation Links Styling */
  .links {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      color: #ffffff;
    }
  }
}
