.seating-chart {
  width: fit-content;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.seat {
  width: fit-content;
  margin: 5px;

  &.selected {
    background-color: green($color: #c300ff);
  }
}
