// Variables
$primary-color: #6299c3;
$secondary-color: #1889d5;
$dark-bg: #212426;
$darker-bg: #1a1d1f;
$text-light: #ffffff;
$text-muted: #a1a1a1;
$transition: all 0.3s ease;

.seating-chart {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, auto) 20px; // Adjust number of rows as needed
  gap: 10px;
  background-color: $darker-bg;
  border-radius: 10px;

  // Define grid areas for walkways
  .walkway-left {
    grid-column: 3 / 4;
    background-color: darkgray;
    width: 20px;
    height: 100%;
  }

  .walkway-right {
    grid-column: 6 / 7;
    background-color: darkgray;
    width: 20px;
    height: 100%;
  }

  .horizontal-walk {
    grid-column: 1 / -1;
    grid-row: 11 / 12;
    background-color: darkgray;
    height: 20px;
    width: 100%;
  }

  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 7; // Span all columns if needed
  }

  .seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    background: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 8px;
    color: $text-light;
    cursor: pointer;
    transition: $transition;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;

    &-selected {
      background: green;
      border: 1px solid green;

      &:hover {
        background-color: #04ff1556 !important;
      }
    }

    &-disabled {
      background: rgb(168, 0, 0);
      border: 1px solid rgb(168, 0, 0);
      cursor: not-allowed;
    }
  }
}

// Responsive Design
@media screen and (max-width: 768px) {
  .seating-chart {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto) 15px;
    gap: 8px;

    .walkway-left,
    .walkway-right {
      width: 15px;
    }

    .horizontal-walk {
      height: 15px;
    }

    .seat {
      width: 35px;
      height: 35px;
      font-size: 0.7rem;
    }
  }
}