// Variables
$primary-color: #6299c3;
$secondary-color: #1889d5;
$dark-bg: #212426;
$darker-bg: #1a1d1f;
$text-light: #ffffff;
$text-muted: #a1a1a1;
$transition: all 0.3s ease;

.seating-chart {
  width: 950px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.seat {
  width: 60px;
  margin: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: $text-light;
  cursor: pointer;
  transition: $transition;
  text-align: center;

}
.seat-selected {
  width: 60px;
  margin: 5px;
  padding: 1rem;
  background: green;
  border: 1px solid green;
  border-radius: 12px;
  color: $text-light;
  cursor: pointer;
  transition: $transition;
  text-align: center;


}
.seat-selected:hover {
  background-color: #04ff1556 !important;
}
.seat-disabled {
  width: 60px;
  margin: 5px;
  padding: 1rem;
  background: rgb(168, 0, 0);
  border: 1px solid rgb(168, 0, 0);
  border-radius: 12px;
  color: $text-light;
  cursor: pointer;
  transition: $transition;
  text-align: center;
}