.admin-view {
  color: #f0f0f0;

  gap: 20px;
  grid-template-columns: 1fr 1fr;
  .box {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid  #3f4549;
  }
}
.top-style{
  display: flex
}
.form-container {
  display:flex;
  flex-direction:column;

  .input {
    size:large
  }
}

.button {
  width:fit-content
}